doctype html
html
  head
    title= title
    link(rel="icon", href="/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', type="text/css")
    link(rel="stylesheet", href="/stylesheets/sigin.css", type="text/css" )
  body
    block content
